@model QualitaCorpWeb.Entities.ViewModels.FacturaItem

@{
    ViewData["Title"] = "Create";
}



<h1>Crear Factura</h1>

<hr />

<div class="card">
    <div class="card-header">
        Datos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="oFactura.Fecha" class="control-label"></label>
                    <input asp-for="oFactura.Fecha" class="form-control" id="txtFecha" />
                    <span asp-validation-for="oFactura.Fecha" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="oFactura.Idcliente" class="control-label">Seleccione Cliente</label>
                <select asp-for="oFactura.Idcliente" class="form-control" asp-items="ViewBag.Idcliente" id="txtIdCliente"></select>
            </div>
            <div class="col-sm-4">
                <label asp-for="oFactura.Idmesa" class="control-label">Seleccione Mesa</label>
                <select asp-for="oFactura.Idmesa" class="form-control" asp-items="ViewBag.Idmesa" id="txtIdMesa"></select>
            </div>
            <div class="col-sm-4">
                <label asp-for="oFactura.Idmesero" class="control-label">Seleccione Mesero</label>
                <select asp-for="oFactura.Idmesero" class="form-control" asp-items="ViewBag.Idmesero" id="txtIdMesero"></select>
            </div>
        </div>

        <hr />

        <div class="row align-items-end">
            <div class="col-sm-4">
                <label class="form-label">Plato</label>
                <input class="form-control form-control-sm" type="text" id="txtPlato" />
            </div>
            <div class="col-sm-4">
                <label class="form-label">Valor</label>
                <input class="form-control form-control-sm" type="number" id="txtValor" />
            </div>

            <div class="col-sm-4">
                <button class="btn btn-success btn-sm" id="btnAgregar">Agregar</button>
                <button class="btn btn-primary btn-sm" id="btnTerminar">Terminar</button>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-sm" id="tbDetalle">
                    <thead>
                        <tr class="table-dark">
                            <th>Plato</th>
                            <th>Valor</th>
                        </tr>

                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">



    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>

    $("#btnAgregar").on("click",function(){

        $("#tbDetalle tbody").append(
            $("<tr>").append(
                $("<td>").text($("#txtPlato").val()),
                 $("<td>").text($("#txtValor").val()),
            )
        )
    })

     $("#btnTerminar").on("click",function(){

         var oDetalle=[];

         $("#tbDetalle > tbody > tr").each(function(i,tr){
             oDetalle.push({
                 Plato:$(tr).find('td:eq(0)').text(),
                 Valor:$(tr).find('td:eq(1)').text(),
                 Idsupervisor:1,
             })
         })

         var oFacturaItem={
             oFactura : {
                 Idcliente:$("#txtIdCliente").val(),
                 Idmesa:$("#txtIdMesa").val(),
                 Idmesero:$("#txtIdMesero").val(),
                 Fecha:$("#txtFecha").val()
             },
             oDetallefactura : oDetalle
         }

        console.log(oFacturaItem);

         jQuery.ajax({
             url : '@Url.Action("Index","Facturas")',
             type: 'POST',
             data : JSON.stringify(oFacturaItem),
             datatype : "json",
             contentType : "application/json; charset=utf-8",
             success: function(data){
                 if(data.respuesta){
                     alert("Registro Almacenado")
                     location.reload();

                 }
             }
         })

     })

</script>
}
